* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Glory", sans-serif;
}
button {
  cursor: pointer;
  transition: 0.3s;
}
button:hover{
  background-color: azure;
}
.container {
  margin: 24px auto;
  max-width: 1236px;
}
.container header h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 0;
  font-family: "Cairo", sans-serif;
}
.container header {
  display: flex; 
  justify-content: space-between;
}
.container .head > span {
  height: 6px;
  width: 100px;
  background-color: #007BFF;
  border-radius: 60px;
  display: block;
  margin-bottom: 50px;
}
.cart {
  position: relative;
  margin-top: 50px;
  margin-right: 25px;
  display: flex;
  gap: 20px;
}
.cart-indicator {
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  color: white;
  background-color: red;
  position: absolute;
  top: -9px;
  right: 9px;
}
.container .cart .cart-p {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.container .cart .wish-list {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
}
.container .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}
.container .card {
  padding: 10px;
  border: 1px solid #32323232;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
  width: 300px;
}
.container .card > img {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #32323232;
  object-fit: cover;
}
.container .card h3{
  font-size: 22px;
  font-weight: bold;
  color: #323232;
  margin-block: 8px;
}
.container .card p {
  color: #32323296;
  font-size: 20px;
  margin-bottom: 8px;
}
.container .card .rp{
  color: #28A745;
  font-size: 22px;
  font-weight: bold;
}
.container .card .wp{
  color: #DC3545;
  font-size: 18px;
  font-weight: bold;
  margin-left: 4px;
  /* text-decoration: line-through; الخط مداري علي الرقم جدا فانا انا اتجهت لحل تاني */
  position: relative;
  display: inline-block;
}
/* الحل التاني عملت ديف كخط ماشي ف نص الكلمه  */
.container .card .wp .line { 
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-top: 1px dashed #DC3545;
}
.action {
  height: 50px;
  width: 100%;
  display: flex;
  gap: 5px;
  margin-top: 20px;
}
.action .adding {
  height: 50px;
  width: 220px;
  font-size: 20px;
  background-color: #007BFF;
  color: #ffffff ;
  border-radius: 0 0 0 6px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  border: none;
}
.action .removing {
  height: 50px;
  width: 220px;
  font-size: 20px;
  background-color: rgb(198, 1, 1);
  color: #ffffff ;
  border-radius: 0 0 0 6px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  border: none;
}
.action .adding img {
  margin-right: 3px;
}
.action .emotion {
  height: 50px;
  width: 50px;
  border: 2px solid #007BFF;
  background-color: #ffffff;
  color: #007BFF;
  border-radius: 0 0 6px 0;
  font-weight: bold;
  transition: 0.3s;
}
.action .emotion:hover{
  background-color: azure;
}
nav {
  background-color: #007BFF;
  width: 100%;  
  height: 8svh;
  display: flex;
  position: sticky;
  top:0;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.search-bar {
  display: flex;
  gap: 8px;
  margin-block: 5px;
}

.search-bar input[type="search"] {
  padding: 5px 10px;
  border-radius: 15px;
  width: 400px;
  border: none;
}
.search-bar input[type="search"]:focus {
  outline: none;
}
.search-bar button {
  padding: 5px 10px;
  border-radius: 15px;
  border: none;
}

@media screen and (max-width: 480px) {
  .search-bar {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  nav {
    height: 15svh;
    display: flex;
    justify-content: spa;
  }

  .search-bar input[type="search"],
  .search-bar button {
    width: 100%;
  }
}

.filter-holder {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.filter-holder input[type="search"] {
  padding: 5px 10px;
  border-radius: 15px;
  width: 400px; 
  border: 1px solid #007BFF;
  background-color: rgb(239, 239, 239);
  outline: none;
}
.filter-holder button {
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  transition: 0.3s;
}
.filter-holder button:hover {
  background-color: #007bffda;
}

@media screen and (max-width: 925px) {
  .filter-holder {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .filter-holder input[type="search"],
  .filter-holder button {
    width: 100%;
  }
}
.active {
  background-color: aquamarine;
}
.timer {
  width: 70%;
  color: #ffffff;  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 12px;
  background-color: rgb(110, 13, 13);
}
@media (max-width: 515px) {
  .timer{
    width: 100%;
  }
}
.t-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px 0;
}
.t-head {
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding: 10px 0;
  font-weight: bold;
  border-radius: 12px 12px 0 0;
  background-color: rgb(255, 33, 33);
}
.t-foot {
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding: 10px 0;
  font-weight: bold;
  border-radius: 0 0 12px 12px;
  background-color: rgb(255, 33, 33);
}
.t {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 33, 33);
  border-radius: 8px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}
.th, .tm, .ts {
  display: flex;
  justify-content: center;
  padding: 4px 25px;
  font-size: 50px;
  font-weight: bold;
  border-radius: 12px;
}
.lable {
  display: flex;
  justify-content: center;
  background-color: #9d2531;
  padding: 3px;
  border-radius:0 0 8px 8px;
  font-weight: bold;
}